In [1]:
import numpy as np
import pandas as pd

## creating DataFrame

In [3]:
#using list

student = [
    [100, 80, 10],
    [90, 50, 7],
    [130, 100, 15],
    [70, 40, 5],
]

pd.DataFrame(student, columns=['iq', 'marks', 'package'])

    iq  marks  package
0  100     80       10
1   90     50        7
2  130    100       15
3   70     40        5

In [4]:
#using dict

student = {
    'iq': [100, 90, 130, 70],
    'marks': [80, 50, 100, 40],
    'package': [10, 7, 15, 5],
}

pd.DataFrame(student)

    iq  marks  package
0  100     80       10
1   90     50        7
2  130    100       15
3   70     40        5