## Pandas

Pandas ia a powerful and versatile py library specially designed for data manipulation and analysis.
Its provide data structure like series and Dataframe.
1 series: A 1D labeled array (like excel column).
2 datafrome: A 2B labeled array data table (excelSheet, sql table)

In [7]:
import numpy as np
import pandas as pd

In [8]:
country = ["Pakistan", "India", "Bangladesh", "Oman", "Dubai"]

pd.Series(country)

0      Pakistan
1         India
2    Bangladesh
3          Oman
4         Dubai
dtype: object

In [9]:
score = [20,40,55,90,10]

pd.Series(score)

0    20
1    40
2    55
3    90
4    10
dtype: int64

In [10]:
#custom index
country = ["Pakistan", "India", "Bangladesh", "Oman", "Dubai"]
countryCode = [4,9,4,3,6]

print("Country:"+ "     " +"country Code:")
pd.Series(countryCode, country)

Country:     country Code:

Pakistan      4
India         9
Bangladesh    4
Oman          3
Dubai         6
dtype: int64

In [ ]:
#dict

marks = {
    'maths': 50,
    'english': 60,
    'Urdu': 90,
    'Biology': 100
}

marks = pd.Series(marks, index=marks)

4

Series Attribues

In [15]:
#size

print(marks.size)

4

In [ ]:
#dtype

marks.dtype

int64

dtype('int64')

In [ ]:
# is_unique

marks = [1,2,3,3,4,5,6,7,15]
res = pd.Series(marks)

res.is_unique

False

In [27]:
#index

res.index

RangeIndex(start=0, stop=9, step=1)

In [30]:
#values

res.values

array([ 1,  2,  3,  3,  4,  5,  6,  7, 15])

## Series using read_csv

In [56]:
# with one column
subs = pd.read_csv('./subs.csv').squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [63]:
# with 2 column

vk = pd.read_csv('./kohli_ipl.csv', index_col='match_no').squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [67]:
# with 2 col

bollywood = pd.read_csv('./bollywood.csv', index_col='movie').squeeze()
bollywood

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

## Series method

In [69]:
#head
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [70]:
vk.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [71]:
#Tail

vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [74]:
subs.tail(3)

362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [77]:
#sample
subs.sample()

337    221
Name: Subscribers gained, dtype: int64

In [78]:
subs.sample(10)

238    152
125     66
275    228
212    119
74      70
45     126
353    197
167    265
349    164
115    105
Name: Subscribers gained, dtype: int64

In [99]:
bollywood.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [95]:
#sort values

bollywood.sort_values()

movie
Qaidi Band                            Aadar Jain
Roar: Tigers of the Sundarbans      Aadil Chahal
Lipstick Under My Burkha            Aahana Kumra
Raat Gayi Baat Gayi?                Aamir Bashir
Talaash: The Answer Lies Within       Aamir Khan
                                        ...
Dil Toh Deewana Hai                  Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Strings of Passion                   Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Name: lead, Length: 1500, dtype: object

In [96]:
#descinding order
bollywood.sort_values(ascending=False)

movie
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Dil Toh Deewana Hai                  Zeenat Aman
Strings of Passion                   Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
                                        ...
Fanaa (2006 film)                     Aamir Khan
Raat Gayi Baat Gayi?                Aamir Bashir
Lipstick Under My Burkha            Aahana Kumra
Roar: Tigers of the Sundarbans      Aadil Chahal
Qaidi Band                            Aadar Jain
Name: lead, Length: 1500, dtype: object

In [97]:
#index

vk.sort_index()

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

## Series Math method

In [103]:
# count

print(vk.count())
print(subs.count())
print(bollywood.count())

215
365
1500

In [104]:
#sum

subs.sum()

np.int64(49510)

In [ ]:
vk.product()

np.float64(0.0)

In [110]:
#mean
subs.mean()

np.float64(135.64383561643837)

In [111]:
#median

subs.median()

np.float64(123.0)

In [112]:
#mode

subs.mode()

0    105
Name: Subscribers gained, dtype: int64

In [113]:
subs.std()

np.float64(62.6750230372527)

In [114]:
subs.var()

np.float64(3928.1585127201565)

In [115]:
#max

subs.max()

np.int64(396)

In [116]:
subs.min()

np.int64(33)

In [117]:
#describe

subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

## Series indexing

In [118]:
x = pd.Series([54,6,54,7,77,88,98,54])
x

0    54
1     6
2    54
3     7
4    77
5    88
6    98
7    54
dtype: int64

In [119]:
#integer
x[3]

np.int64(7)

 negative indexing is not working on the integer index its only working with the string indexing.

In [120]:
#slicing

vk[5]

np.int64(1)

In [121]:
vk[2:20]

match_no
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
17    22
18    19
19    16
20    15
Name: runs, dtype: int64

In [122]:
vk[::40]

match_no
1       1
41     71
81     93
121    14
161    41
201    12
Name: runs, dtype: int64

In [123]:
#fancy indexing

vk[[4,6,7]]

match_no
4    12
6     9
7    34
Name: runs, dtype: int64

In [ ]:
# indexing with a label
vk[12]

KeyError: '12'